<html>
<head>
	<meta charset="utf-8">
	<title>Input Field Result</title>
</head>
<body>
	名前：<%= @params["name"] %><br>
	性別：<%= @params["gender"] %><br>
	趣味：<%= @params["hobby"] %><br>
</body>
</html>

